<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Add a new animal</h1>
    <form action="/mongooses" method="POST">
        <div>name:<input type="text" name="name"></div>
        <div>information:<input type="text" name="info"></div>

        <input type="submit" value="submit">

    </form>
</body>

</html>